{% extends 'base.html' %}
{% block content %}
<form method="POST"  class="col-6 mx-auto card p-3n shadow-sm" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Update Recipes</h2>
  <div class="mb-3">
    <label class="form-label">Recipes name</label>
    <input type="text" name="recepie_name" value="{{recepie.recepie_name }}" class="form-control"  aria-describedby="emailHelp">
  </div>
    <div class="mb-3">
    <label class="form-label">Recipes description</label>
        <textarea  name="recepie_description" value="" class="form-control" >{{recepie.recepie_description }}</textarea>
  </div>
    <div class="mb-3">
    <label class="form-label">Recipes Image</label>
    <input type="file" name="recepie_image" value="{{recepie.recepie_image}}" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Update recipes</button>
</form>
{% endblock %}